#wb_header { background: transparent none repeat scroll left top; height: 1px; }
#wb_header { height: 1px; }
#wb_main { background: transparent none repeat-x scroll left top; height: 1299px; padding: 0 0 50px 0; }
#wb_main { height: 1349px; }
#wb_footer { background: transparent none repeat-x scroll left top; height: 1px; }
#wb_footer { height: 1px; }
body { background: transparent url("../gallery_gen/gear1.jpg") repeat-y scroll center top; }
.wb_sbg { background: transparent none repeat scroll center top; }
body, .wb_sbg { min-width: 992px; min-height: 662px; }
.root { width: 992px; height: 662px; overflow: visible; }
#wb_element_instance88 { left: 0px; top: 0px; min-width: 990px; width: 990px; min-height: 40px; height: 40px; display: block; z-index: 549; }
#wb_element_instance88 ul { background: transparent none repeat scroll center top; border: 1px none #000000; }
#wb_element_instance88, #wb_element_instance88 ul { text-align: left; }
#wb_element_instance88 ul ul { background: transparent none repeat scroll center top; }
#wb_element_instance88 li { margin: 10px 20px 10px 20px; }
#wb_element_instance88 li a { text-transform: capitalize; border: 0px none #000000; padding: 10px 20px 10px 20px; font: normal bold 13px 'Nanum Gothic',sans-serif; text-decoration: none; color: #ffffff; line-height: 15px; background: transparent none repeat scroll left top; }
#wb_element_instance88 li:hover > a, #wb_element_instance88 li:focus > a { border: 0px solid #ffffff; font: normal bold 13px 'Nanum Gothic',sans-serif; text-decoration: none; color: #00d9ff; line-height: 15px; background: transparent url('../gallery/qwe3-ts1468132341.png') no-repeat scroll center bottom; }
#wb_element_instance88 li.active > a { border: 0px none #000000; font: normal bold 13px 'Nanum Gothic',sans-serif; text-decoration: none; color: #ffffff; line-height: 15px; background: transparent none no-repeat scroll center bottom; }
#wb_element_instance89 { left: 108px; top: 139px; min-width: 870px; width: 870px; min-height: 1160px; height: 1160px; display: block; z-index: 492; }
#wb_element_instance90 { left: 187px; top: 60px; min-width: 670px; width: 670px; min-height: 80px; height: 80px; display: block; z-index: 341; }
#wb_element_instance91 { left: 0px; top: 1319px; display: block; z-index: 9000; }
#wb_element_instance92 { left: 0px; top: 20px; display: block; z-index: 9999; }

@media (min-width: 768px) {
	#wb_header { height: 1px; }
	#wb_main { height: 1349px; }
	#wb_footer { height: 1px; }
	body, .wb_sbg { min-width: 992px; min-height: 1351px; }
	.root { width: 992px; height: 1351px; overflow: visible; }
	#wb_element_instance88 { left: 0px; top: 0px; min-width: 990px; width: 990px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance89 { left: 108px; top: 139px; min-width: 870px; width: 870px; min-height: 1160px; height: 1160px; display: block; }
	#wb_element_instance90 { left: 187px; top: 60px; min-width: 670px; width: 670px; min-height: 80px; height: 80px; display: block; }
}

@media (min-width: 992px) {
	#wb_header { height: 1px; }
	#wb_main { height: 1349px; }
	#wb_footer { height: 1px; }
	body, .wb_sbg { min-width: 992px; min-height: 1351px; }
	.root { width: 992px; height: 1351px; overflow: visible; }
	#wb_element_instance88 { left: 0px; top: 0px; min-width: 990px; width: 990px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance89 { left: 108px; top: 139px; min-width: 870px; width: 870px; min-height: 1160px; height: 1160px; display: block; }
	#wb_element_instance90 { left: 187px; top: 60px; min-width: 670px; width: 670px; min-height: 80px; height: 80px; display: block; }
}

@media (min-width: 1200px) {
	#wb_header { height: 1px; }
	#wb_main { height: 1349px; }
	#wb_footer { height: 1px; }
	body, .wb_sbg { min-width: 992px; min-height: 1351px; }
	.root { width: 992px; height: 1351px; overflow: visible; }
	#wb_element_instance88 { left: 0px; top: 0px; min-width: 990px; width: 990px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance89 { left: 108px; top: 139px; min-width: 870px; width: 870px; min-height: 1160px; height: 1160px; display: block; }
	#wb_element_instance90 { left: 187px; top: 60px; min-width: 670px; width: 670px; min-height: 80px; height: 80px; display: block; }
}
