#wb_header { background: transparent none no-repeat scroll left top; height: 2px; }
#wb_header { height: 2px; }
#wb_main { background: transparent none repeat scroll left top; height: 1130px; padding: 0 0 -50px 0; }
#wb_main { height: 1080px; }
#wb_footer { background: transparent none repeat scroll left top; height: 4px; }
#wb_footer { height: 4px; }
body { background: transparent url("../gallery_gen/gear1.jpg") repeat scroll center top; background-size: cover;}
.wb_sbg { background: transparent none repeat scroll center top; }
body, .wb_sbg { min-width: 992px; min-height: 1826px; }
.root { width: 992px; height: 1826px; overflow: visible; }
#wb_element_instance8 { left: 0px; top: 0px; min-width: 990px; width: 990px; min-height: 40px; height: 40px; display: block; z-index: 549; }
#wb_element_instance8 ul { background: transparent none repeat scroll center top; border: 1px none #000000; }
#wb_element_instance8, #wb_element_instance8 ul { text-align: left; }
#wb_element_instance8 ul ul { background: transparent none repeat scroll center top; }
#wb_element_instance8 li { margin: 10px 20px 10px 20px; }
#wb_element_instance8 li a { text-transform: capitalize; border: 0px none #000000; padding: 10px 20px 10px 20px; font: normal bold 13px 'Nanum Gothic',sans-serif; text-decoration: none; color: #ffffff; line-height: 15px; background: transparent none repeat scroll left top; }
#wb_element_instance8 li:hover > a, #wb_element_instance8 li:focus > a { border: 0px solid #ffffff; font: normal bold 13px 'Nanum Gothic',sans-serif; text-decoration: none; color: #00d9ff; line-height: 15px; background: transparent url('../gallery/qwe3-ts1468132341.png') no-repeat scroll center bottom; }
#wb_element_instance8 li.active > a { border: 0px none #000000; font: normal bold 13px 'Nanum Gothic',sans-serif; text-decoration: none; color: #ffffff; line-height: 15px; background: transparent none no-repeat scroll center bottom; }
#wb_element_instance9 { left: 99px; top: 157px; min-width: 810px; width: 810px; min-height: 240px; height: 240px; display: block; z-index: 421; }
#wb_element_instance9 { background: transparent; }
#wb_element_instance10 { left: 87px; top: 915px; min-width: 320px; width: 320px; min-height: 70px; height: 70px; display: block; z-index: 167; }
#wb_element_instance11 { left: 86px; top: 660px; min-width: 320px; width: 320px; min-height: 80px; height: 80px; display: block; z-index: 91; }
#wb_element_instance12 { left: 86px; top: 403px; min-width: 320px; width: 320px; min-height: 50px; height: 50px; display: block; z-index: 180; }
#wb_element_instance13 { left: 433px; top: 57px; min-width: 450px; width: 450px; min-height: 80px; height: 80px; display: block; z-index: 424; }
#wb_element_instance14 { left: 87px; top: 960px; min-width: 810px; width: 810px; min-height: 150px; height: 150px; display: block; z-index: 426; }
#wb_element_instance15 { left: 10px; top: 980px; min-width: 200px; width: 200px; min-height: 200px; height: 200px; display: block; z-index: 184; }
#wb_element_instance16 { left: 87px; top: 451px; min-width: 810px; width: 810px; min-height: 200px; height: 200px; display: block; z-index: 428; }
#wb_element_instance17 { left: 87px; top: 708px; min-width: 810px; width: 810px; min-height: 200px; height: 200px; display: block; z-index: 108; }
#wb_element_instance18 { left: 0px; top: 1200px; display: block; z-index: 9000; }
#wb_element_instance19 { left: 0px; top: 20px; display: block; z-index: 9999; }

@media (min-width: 768px) {
	#wb_header { height: 2px; }
	#wb_main { height: 1080px; }
	#wb_footer { height: 4px; }
	body, .wb_sbg { min-width: 992px; min-height: 1136px; }
	.root { width: 992px; height: 1136px; overflow: visible; }
	#wb_element_instance8 { left: 0px; top: 0px; min-width: 990px; width: 990px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance9 { left: 99px; top: 157px; min-width: 810px; width: 810px; min-height: 240px; height: 240px; display: block; }
	#wb_element_instance10 { left: 87px; top: 915px; min-width: 320px; width: 320px; min-height: 70px; height: 70px; display: block; }
	#wb_element_instance11 { left: 86px; top: 660px; min-width: 320px; width: 320px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance12 { left: 86px; top: 403px; min-width: 320px; width: 320px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance13 { left: 433px; top: 57px; min-width: 450px; width: 450px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance14 { left: 87px; top: 960px; min-width: 810px; width: 810px; min-height: 150px; height: 150px; display: block; }
	#wb_element_instance15 { left: 10px; top: 980px; min-width: 200px; width: 200px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance16 { left: 87px; top: 451px; min-width: 810px; width: 810px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance17 { left: 87px; top: 708px; min-width: 810px; width: 810px; min-height: 200px; height: 200px; display: block; }
}

@media (min-width: 992px) {
	#wb_header { height: 2px; }
	#wb_main { height: 1080px; }
	#wb_footer { height: 4px; }
	body, .wb_sbg { min-width: 992px; min-height: 1136px; }
	.root { width: 992px; height: 1136px; overflow: visible; }
	#wb_element_instance8 { left: 0px; top: 0px; min-width: 990px; width: 990px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance9 { left: 99px; top: 157px; min-width: 810px; width: 810px; min-height: 240px; height: 240px; display: block; }
	#wb_element_instance10 { left: 87px; top: 915px; min-width: 320px; width: 320px; min-height: 70px; height: 70px; display: block; }
	#wb_element_instance11 { left: 86px; top: 660px; min-width: 320px; width: 320px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance12 { left: 86px; top: 403px; min-width: 320px; width: 320px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance13 { left: 433px; top: 57px; min-width: 450px; width: 450px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance14 { left: 87px; top: 960px; min-width: 810px; width: 810px; min-height: 150px; height: 150px; display: block; }
	#wb_element_instance15 { left: 10px; top: 980px; min-width: 200px; width: 200px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance16 { left: 87px; top: 451px; min-width: 810px; width: 810px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance17 { left: 87px; top: 708px; min-width: 810px; width: 810px; min-height: 200px; height: 200px; display: block; }
}

@media (min-width: 1200px) {
	#wb_header { height: 2px; }
	#wb_main { height: 1080px; }
	#wb_footer { height: 4px; }
	body, .wb_sbg { min-width: 992px; min-height: 1136px; }
	.root { width: 992px; height: 1136px; overflow: visible; }
	#wb_element_instance8 { left: 0px; top: 0px; min-width: 990px; width: 990px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance9 { left: 99px; top: 157px; min-width: 810px; width: 810px; min-height: 240px; height: 240px; display: block; }
	#wb_element_instance10 { left: 87px; top: 915px; min-width: 320px; width: 320px; min-height: 70px; height: 70px; display: block; }
	#wb_element_instance11 { left: 86px; top: 660px; min-width: 320px; width: 320px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance12 { left: 86px; top: 403px; min-width: 320px; width: 320px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance13 { left: 433px; top: 57px; min-width: 450px; width: 450px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance14 { left: 87px; top: 960px; min-width: 810px; width: 810px; min-height: 150px; height: 150px; display: block; }
	#wb_element_instance15 { left: 10px; top: 980px; min-width: 200px; width: 200px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance16 { left: 87px; top: 451px; min-width: 810px; width: 810px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance17 { left: 87px; top: 708px; min-width: 810px; width: 810px; min-height: 200px; height: 200px; display: block; }
}
