#wb_header { background: transparent none repeat scroll left top; height: 4px; }
#wb_header { height: 4px; }
#wb_main { background: transparent none repeat-x scroll left top; height: 868px; padding: 0 0 30px 0; }
#wb_main { height: 898px; }
#wb_footer { background: transparent none repeat scroll left top; height: 1px; }
#wb_footer { height: 1px; }
body { background: transparent url("../gallery_gen/gear1.jpg") repeat-x scroll center top; }
.wb_sbg { background: transparent none repeat scroll center top; }
body, .wb_sbg { min-width: 992px; min-height: 1080px; }
.root { width: 992px; height: 1080px; overflow: visible; }
#wb_element_instance20 { left: 0px; top: 0px; min-width: 990px; width: 990px; min-height: 40px; height: 40px; display: block; z-index: 549; }
#wb_element_instance20 ul { background: transparent none repeat scroll center top; border: 1px none #000000; }
#wb_element_instance20, #wb_element_instance20 ul { text-align: left; }
#wb_element_instance20 ul ul { background: transparent none repeat scroll center top; }
#wb_element_instance20 li { margin: 10px 20px 10px 20px; }
#wb_element_instance20 li a { text-transform: capitalize; border: 0px none #000000; padding: 10px 20px 10px 20px; font: normal bold 13px 'Nanum Gothic',sans-serif; text-decoration: none; color: #ffffff; line-height: 15px; background: transparent none repeat scroll left top; }
#wb_element_instance20 li:hover > a, #wb_element_instance20 li:focus > a { border: 0px solid #ffffff; font: normal bold 13px 'Nanum Gothic',sans-serif; text-decoration: none; color: #00d9ff; line-height: 15px; background: transparent url('../gallery/qwe3-ts1468132341.png') no-repeat scroll center bottom; }
#wb_element_instance20 li.active > a { border: 0px none #000000; font: normal bold 13px 'Nanum Gothic',sans-serif; text-decoration: none; color: #ffffff; line-height: 15px; background: transparent none no-repeat scroll center bottom; }
#wb_element_instance21 { left: 0px; top: 146px; min-width: 990px; width: 990px; min-height: 440px; height: 440px; display: block; z-index: 232; }
#wb_element_instance22 { left: 368px; top: 77px; min-width: 450px; width: 450px; min-height: 80px; height: 80px; display: block; z-index: 189; }
#wb_element_instance23 { left: 14px; top: 162px; min-width: 240px; width: 240px; min-height: 200px; height: 200px; display: block; z-index: 234; }
#wb_element_instance24 { left: 5px; top: 157px; min-width: 260px; width: 260px; min-height: 210px; height: 210px; display: block; z-index: 233; }
#wb_element_instance24 img { width: 260px; height: 210px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance25 { left: -5px; top: 145px; min-width: 30px; width: 30px; min-height: 30px; height: 30px; display: block; z-index: 236; }
#wb_element_instance25 img { width: 30px; height: 30px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance26 { left: 0px; top: 599px; min-width: 290px; width: 290px; min-height: 80px; height: 80px; display: block; z-index: 229; }
#wb_element_instance27 { left: 0px; top: 668px; min-width: 890px; width: 890px; min-height: 200px; height: 200px; display: block; z-index: 237; }
#wb_element_instance28 { left: 0px; top: 626px; min-width: 200px; width: 200px; min-height: 60px; height: 60px; display: block; z-index: 230; }
#wb_element_instance29 { left: 0px; top: 888px; display: block; z-index: 9000; }
#wb_element_instance30 { left: 0px; top: 20px; display: block; z-index: 9999; }

@media (min-width: 768px) {
	#wb_header { height: 4px; }
	#wb_main { height: 898px; }
	#wb_footer { height: 1px; }
	body, .wb_sbg { min-width: 992px; min-height: 903px; }
	.root { width: 992px; height: 903px; overflow: visible; }
	#wb_element_instance20 { left: 0px; top: 0px; min-width: 990px; width: 990px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance21 { left: 0px; top: 146px; min-width: 990px; width: 990px; min-height: 440px; height: 440px; display: block; }
	#wb_element_instance22 { left: 368px; top: 77px; min-width: 450px; width: 450px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance23 { left: 14px; top: 162px; min-width: 240px; width: 240px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance24 { left: 5px; top: 157px; min-width: 260px; width: 260px; min-height: 210px; height: 210px; display: block; overflow: hidden; }
	#wb_element_instance24 img { width: 320px; height: 396px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance25 { left: -5px; top: 145px; min-width: 30px; width: 30px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance25 img { width: 30px; height: 30px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance26 { left: 0px; top: 599px; min-width: 290px; width: 290px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance27 { left: 0px; top: 668px; min-width: 890px; width: 890px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance28 { left: 0px; top: 626px; min-width: 200px; width: 200px; min-height: 60px; height: 60px; display: block; }
}

@media (min-width: 992px) {
	#wb_header { height: 4px; }
	#wb_main { height: 898px; }
	#wb_footer { height: 1px; }
	body, .wb_sbg { min-width: 992px; min-height: 903px; }
	.root { width: 992px; height: 903px; overflow: visible; }
	#wb_element_instance20 { left: 0px; top: 0px; min-width: 990px; width: 990px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance21 { left: 0px; top: 146px; min-width: 990px; width: 990px; min-height: 440px; height: 440px; display: block; }
	#wb_element_instance22 { left: 368px; top: 77px; min-width: 450px; width: 450px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance23 { left: 14px; top: 162px; min-width: 240px; width: 240px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance24 { left: 5px; top: 157px; min-width: 260px; width: 260px; min-height: 210px; height: 210px; display: block; overflow: hidden; }
	#wb_element_instance24 img { width: 320px; height: 396px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance25 { left: -5px; top: 145px; min-width: 30px; width: 30px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance25 img { width: 30px; height: 30px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance26 { left: 0px; top: 599px; min-width: 290px; width: 290px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance27 { left: 0px; top: 668px; min-width: 890px; width: 890px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance28 { left: 0px; top: 626px; min-width: 200px; width: 200px; min-height: 60px; height: 60px; display: block; }
}

@media (min-width: 1200px) {
	#wb_header { height: 4px; }
	#wb_main { height: 898px; }
	#wb_footer { height: 1px; }
	body, .wb_sbg { min-width: 992px; min-height: 903px; }
	.root { width: 992px; height: 903px; overflow: visible; }
	#wb_element_instance20 { left: 0px; top: 0px; min-width: 990px; width: 990px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance21 { left: 0px; top: 146px; min-width: 990px; width: 990px; min-height: 440px; height: 440px; display: block; }
	#wb_element_instance22 { left: 368px; top: 77px; min-width: 450px; width: 450px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance23 { left: 14px; top: 162px; min-width: 240px; width: 240px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance24 { left: 5px; top: 157px; min-width: 260px; width: 260px; min-height: 210px; height: 210px; display: block; overflow: hidden; }
	#wb_element_instance24 img { width: 320px; height: 396px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance25 { left: -5px; top: 145px; min-width: 30px; width: 30px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance25 img { width: 30px; height: 30px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance26 { left: 0px; top: 599px; min-width: 290px; width: 290px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance27 { left: 0px; top: 668px; min-width: 890px; width: 890px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance28 { left: 0px; top: 626px; min-width: 200px; width: 200px; min-height: 60px; height: 60px; display: block; }
}
