#wb_header { background: transparent none repeat scroll left top; height: 2px; }
#wb_header { height: 2px; }
#wb_main { background: transparent none repeat-x scroll left top; height: 508px; padding: 0 0 50px 0; }
#wb_main { height: 558px; }
#wb_footer { background: transparent none repeat-x scroll left top; height: 4px; }
#wb_footer { height: 4px; }
body { background: transparent url("../gallery_gen/gear1.jpg") repeat-x scroll center top; }
.wb_sbg { background: transparent none repeat scroll center top; }
body, .wb_sbg { min-width: 992px; min-height: 1736px; }
.root { width: 992px; height: 1736px; overflow: visible; }
#wb_element_instance39 { left: 0px; top: 0px; min-width: 990px; width: 990px; min-height: 40px; height: 40px; display: block; z-index: 549; }
#wb_element_instance39 ul { background: transparent none repeat scroll center top; border: 1px none #000000; }
#wb_element_instance39, #wb_element_instance39 ul { text-align: left; }
#wb_element_instance39 ul ul { background: transparent none repeat scroll center top; }
#wb_element_instance39 li { margin: 10px 20px 10px 20px; }
#wb_element_instance39 li a { text-transform: capitalize; border: 0px none #000000; padding: 10px 20px 10px 20px; font: normal bold 13px 'Nanum Gothic',sans-serif; text-decoration: none; color: #ffffff; line-height: 15px; background: transparent none repeat scroll left top; }
#wb_element_instance39 li:hover > a, #wb_element_instance39 li:focus > a { border: 0px solid #ffffff; font: normal bold 13px 'Nanum Gothic',sans-serif; text-decoration: none; color: #00d9ff; line-height: 15px; background: transparent url('../gallery/qwe3-ts1468132341.png') no-repeat scroll center bottom; }
#wb_element_instance39 li.active > a { border: 0px none #000000; font: normal bold 13px 'Nanum Gothic',sans-serif; text-decoration: none; color: #ffffff; line-height: 15px; background: transparent none no-repeat scroll center bottom; }
#wb_element_instance40 { left: 388px; top: 200px; min-width: 225px; width: 225px; min-height: 225px; height: 225px; display: block; z-index: 182; }
#wb_element_instance40 img { width: 225px; height: 225px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance41 { left: 359px; top: 89px; min-width: 280px; width: 280px; min-height: 90px; height: 90px; display: block; z-index: 184; }
#wb_element_instance42 { left: 305px; top: 438px; min-width: 480px; width: 480px; min-height: 70px; height: 70px; display: block; z-index: 325; }
#wb_element_instance43 { left: 0px; top: 528px; display: block; z-index: 9000; }
#wb_element_instance44 { left: 0px; top: 20px; display: block; z-index: 9999; }

@media (min-width: 768px) {
	#wb_header { height: 2px; }
	#wb_main { height: 558px; }
	#wb_footer { height: 4px; }
	body, .wb_sbg { min-width: 992px; min-height: 564px; }
	.root { width: 992px; height: 564px; overflow: visible; }
	#wb_element_instance39 { left: 0px; top: 0px; min-width: 990px; width: 990px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance40 { left: 388px; top: 200px; min-width: 225px; width: 225px; min-height: 225px; height: 225px; display: block; }
	#wb_element_instance40 img { width: 225px; height: 225px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance41 { left: 359px; top: 89px; min-width: 280px; width: 280px; min-height: 90px; height: 90px; display: block; }
	#wb_element_instance42 { left: 305px; top: 438px; min-width: 480px; width: 480px; min-height: 70px; height: 70px; display: block; }
}

@media (min-width: 992px) {
	#wb_header { height: 2px; }
	#wb_main { height: 558px; }
	#wb_footer { height: 4px; }
	body, .wb_sbg { min-width: 992px; min-height: 564px; }
	.root { width: 992px; height: 564px; overflow: visible; }
	#wb_element_instance39 { left: 0px; top: 0px; min-width: 990px; width: 990px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance40 { left: 388px; top: 200px; min-width: 225px; width: 225px; min-height: 225px; height: 225px; display: block; }
	#wb_element_instance40 img { width: 225px; height: 225px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance41 { left: 359px; top: 89px; min-width: 280px; width: 280px; min-height: 90px; height: 90px; display: block; }
	#wb_element_instance42 { left: 305px; top: 438px; min-width: 480px; width: 480px; min-height: 70px; height: 70px; display: block; }
}

@media (min-width: 1200px) {
	#wb_header { height: 2px; }
	#wb_main { height: 558px; }
	#wb_footer { height: 4px; }
	body, .wb_sbg { min-width: 992px; min-height: 564px; }
	.root { width: 992px; height: 564px; overflow: visible; }
	#wb_element_instance39 { left: 0px; top: 0px; min-width: 990px; width: 990px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance40 { left: 388px; top: 200px; min-width: 225px; width: 225px; min-height: 225px; height: 225px; display: block; }
	#wb_element_instance40 img { width: 225px; height: 225px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance41 { left: 359px; top: 89px; min-width: 280px; width: 280px; min-height: 90px; height: 90px; display: block; }
	#wb_element_instance42 { left: 305px; top: 438px; min-width: 480px; width: 480px; min-height: 70px; height: 70px; display: block; }
}
