#wb_header { background: transparent none repeat scroll left top; height: 1px; }
#wb_header { height: 1px; }
#wb_main { background: transparent none repeat scroll left top; height: 284px; }
#wb_main { height: 284px; }
#wb_footer { background: transparent none repeat scroll left top; height: 513px; }
#wb_footer { height: 513px; }
body { background: transparent url("../gallery_gen/gear1.jpg") repeat-x scroll center top; }
.wb_sbg { background: transparent url("gallery/engineering-wallaper-09-ts1468051235.jpg") repeat-x scroll center top; }
body, .wb_sbg { min-width: 992px; min-height: 631px; }
.root { width: 992px; height: 631px; overflow: visible; }
#wb_element_instance51 { left: 0px; top: 0px; min-width: 990px; width: 990px; min-height: 40px; height: 40px; display: block; z-index: 549; }
#wb_element_instance51 ul { background: transparent none repeat scroll center top; border: 1px none #000000; }
#wb_element_instance51, #wb_element_instance51 ul { text-align: left; }
#wb_element_instance51 ul ul { background: transparent none repeat scroll center top; }
#wb_element_instance51 li { margin: 10px 20px 10px 20px; }
#wb_element_instance51 li a { text-transform: capitalize; border: 0px none #000000; padding: 10px 20px 10px 20px; font: normal bold 13px 'Nanum Gothic',sans-serif; text-decoration: none; color: #ffffff; line-height: 15px; background: transparent none repeat scroll left top; }
#wb_element_instance51 li:hover > a, #wb_element_instance51 li:focus > a { border: 0px solid #ffffff; font: normal bold 13px 'Nanum Gothic',sans-serif; text-decoration: none; color: #00d9ff; line-height: 15px; background: transparent url('../gallery/qwe3-ts1468132341.png') no-repeat scroll center bottom; }
#wb_element_instance51 li.active > a { border: 0px none #000000; font: normal bold 13px 'Nanum Gothic',sans-serif; text-decoration: none; color: #ffffff; line-height: 15px; background: transparent none no-repeat scroll center bottom; }
#wb_element_instance52 { left: 580px; top: 164px; min-width: 340px; width: 340px; min-height: 120px; height: 120px; display: block; z-index: 277; }
#wb_element_instance53 { left: 90px; top: 164px; min-width: 340px; width: 340px; min-height: 120px; height: 120px; display: block; z-index: 280; }
#wb_element_instance54 { left: 264px; top: 71px; min-width: 510px; width: 510px; min-height: 80px; height: 80px; display: block; z-index: 400; }
#wb_element_instance55 { left: 90px; top: 30px; min-width: 340px; width: 340px; min-height: 120px; height: 120px; display: block; z-index: 45; }
#wb_element_instance56 { left: 580px; top: 29px; min-width: 340px; width: 340px; min-height: 120px; height: 120px; display: block; z-index: 47; }
#wb_element_instance57 { left: 90px; top: 162px; min-width: 340px; width: 340px; min-height: 120px; height: 120px; display: block; z-index: 48; }
#wb_element_instance58 { left: 580px; top: 162px; min-width: 340px; width: 340px; min-height: 150px; height: 150px; display: block; z-index: 49; }
#wb_element_instance59 { left: 90px; top: 282px; min-width: 340px; width: 340px; min-height: 120px; height: 120px; display: block; z-index: 50; }
#wb_element_instance60 { left: 580px; top: 320px; min-width: 340px; width: 340px; min-height: 120px; height: 120px; display: block; z-index: 51; }
#wb_element_instance61 { left: 90px; top: 402px; min-width: 340px; width: 340px; min-height: 110px; height: 110px; display: block; z-index: 52; }
#wb_element_instance62 { left: 0px; top: 304px; display: block; z-index: 9000; }
#wb_element_instance63 { left: 0px; top: 532px; display: block; z-index: 9999; }

@media (min-width: 768px) {
	#wb_header { height: 1px; }
	#wb_main { height: 284px; }
	#wb_footer { height: 513px; }
	body, .wb_sbg { min-width: 992px; min-height: 798px; }
	.root { width: 992px; height: 798px; overflow: visible; }
	#wb_element_instance51 { left: 0px; top: 0px; min-width: 990px; width: 990px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance52 { left: 580px; top: 164px; min-width: 340px; width: 340px; min-height: 120px; height: 120px; display: block; }
	#wb_element_instance53 { left: 90px; top: 164px; min-width: 340px; width: 340px; min-height: 120px; height: 120px; display: block; }
	#wb_element_instance54 { left: 264px; top: 71px; min-width: 510px; width: 510px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance55 { left: 90px; top: 30px; min-width: 340px; width: 340px; min-height: 120px; height: 120px; display: block; }
	#wb_element_instance56 { left: 580px; top: 29px; min-width: 340px; width: 340px; min-height: 120px; height: 120px; display: block; }
	#wb_element_instance57 { left: 90px; top: 162px; min-width: 340px; width: 340px; min-height: 120px; height: 120px; display: block; }
	#wb_element_instance58 { left: 580px; top: 162px; min-width: 340px; width: 340px; min-height: 150px; height: 150px; display: block; }
	#wb_element_instance59 { left: 90px; top: 282px; min-width: 340px; width: 340px; min-height: 120px; height: 120px; display: block; }
	#wb_element_instance60 { left: 580px; top: 320px; min-width: 340px; width: 340px; min-height: 120px; height: 120px; display: block; }
	#wb_element_instance61 { left: 90px; top: 402px; min-width: 340px; width: 340px; min-height: 110px; height: 110px; display: block; }
}

@media (min-width: 992px) {
	#wb_header { height: 1px; }
	#wb_main { height: 284px; }
	#wb_footer { height: 513px; }
	body, .wb_sbg { min-width: 992px; min-height: 798px; }
	.root { width: 992px; height: 798px; overflow: visible; }
	#wb_element_instance51 { left: 0px; top: 0px; min-width: 990px; width: 990px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance52 { left: 580px; top: 164px; min-width: 340px; width: 340px; min-height: 120px; height: 120px; display: block; }
	#wb_element_instance53 { left: 90px; top: 164px; min-width: 340px; width: 340px; min-height: 120px; height: 120px; display: block; }
	#wb_element_instance54 { left: 264px; top: 71px; min-width: 510px; width: 510px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance55 { left: 90px; top: 30px; min-width: 340px; width: 340px; min-height: 120px; height: 120px; display: block; }
	#wb_element_instance56 { left: 580px; top: 29px; min-width: 340px; width: 340px; min-height: 120px; height: 120px; display: block; }
	#wb_element_instance57 { left: 90px; top: 162px; min-width: 340px; width: 340px; min-height: 120px; height: 120px; display: block; }
	#wb_element_instance58 { left: 580px; top: 162px; min-width: 340px; width: 340px; min-height: 150px; height: 150px; display: block; }
	#wb_element_instance59 { left: 90px; top: 282px; min-width: 340px; width: 340px; min-height: 120px; height: 120px; display: block; }
	#wb_element_instance60 { left: 580px; top: 320px; min-width: 340px; width: 340px; min-height: 120px; height: 120px; display: block; }
	#wb_element_instance61 { left: 90px; top: 402px; min-width: 340px; width: 340px; min-height: 110px; height: 110px; display: block; }
}

@media (min-width: 1200px) {
	#wb_header { height: 1px; }
	#wb_main { height: 284px; }
	#wb_footer { height: 513px; }
	body, .wb_sbg { min-width: 992px; min-height: 798px; }
	.root { width: 992px; height: 798px; overflow: visible; }
	#wb_element_instance51 { left: 0px; top: 0px; min-width: 990px; width: 990px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance52 { left: 580px; top: 164px; min-width: 340px; width: 340px; min-height: 120px; height: 120px; display: block; }
	#wb_element_instance53 { left: 90px; top: 164px; min-width: 340px; width: 340px; min-height: 120px; height: 120px; display: block; }
	#wb_element_instance54 { left: 264px; top: 71px; min-width: 510px; width: 510px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance55 { left: 90px; top: 30px; min-width: 340px; width: 340px; min-height: 120px; height: 120px; display: block; }
	#wb_element_instance56 { left: 580px; top: 29px; min-width: 340px; width: 340px; min-height: 120px; height: 120px; display: block; }
	#wb_element_instance57 { left: 90px; top: 162px; min-width: 340px; width: 340px; min-height: 120px; height: 120px; display: block; }
	#wb_element_instance58 { left: 580px; top: 162px; min-width: 340px; width: 340px; min-height: 150px; height: 150px; display: block; }
	#wb_element_instance59 { left: 90px; top: 282px; min-width: 340px; width: 340px; min-height: 120px; height: 120px; display: block; }
	#wb_element_instance60 { left: 580px; top: 320px; min-width: 340px; width: 340px; min-height: 120px; height: 120px; display: block; }
	#wb_element_instance61 { left: 90px; top: 402px; min-width: 340px; width: 340px; min-height: 110px; height: 110px; display: block; }
}
