#wb_header { background: transparent none repeat scroll left top; height: 1px; }
#wb_header { height: 1px; }
#wb_main { background: transparent none repeat-x scroll left top; height: 1143px; padding: 0 0 50px 0; }
#wb_main { height: 1193px; }
#wb_footer { background: transparent none repeat-x scroll left top; height: 1px; }
#wb_footer { height: 1px; }
body { background: transparent url("../gallery_gen/gear1.jpg") repeat scroll center top; }
.wb_sbg { background: transparent none repeat scroll center top; }
body, .wb_sbg { min-width: 992px; min-height: 1736px; }
.root { width: 992px; height: 1736px; overflow: visible; }
#wb_element_instance45 { left: 0px; top: 0px; min-width: 990px; width: 990px; min-height: 40px; height: 40px; display: block; z-index: 549; }
#wb_element_instance45 ul { background: transparent none repeat scroll center top; border: 1px none #000000; }
#wb_element_instance45, #wb_element_instance45 ul { text-align: left; }
#wb_element_instance45 ul ul { background: transparent none repeat scroll center top; }
#wb_element_instance45 li { margin: 10px 20px 10px 20px; }
#wb_element_instance45 li a { text-transform: capitalize; border: 0px none #000000; padding: 10px 20px 10px 20px; font: normal bold 13px 'Nanum Gothic',sans-serif; text-decoration: none; color: #ffffff; line-height: 15px; background: transparent none repeat scroll left top; }
#wb_element_instance45 li:hover > a, #wb_element_instance45 li:focus > a { border: 0px solid #ffffff; font: normal bold 13px 'Nanum Gothic',sans-serif; text-decoration: none; color: #00d9ff; line-height: 15px; background: transparent url('../gallery/qwe3-ts1468132341.png') no-repeat scroll center bottom; }
#wb_element_instance45 li.active > a { border: 0px none #000000; font: normal bold 13px 'Nanum Gothic',sans-serif; text-decoration: none; color: #ffffff; line-height: 15px; background: transparent none no-repeat scroll center bottom; }
#wb_element_instance46 { left: 366px; top: 98px; min-width: 440px; width: 440px; min-height: 50px; height: 50px; display: block; z-index: 89; }
#wb_element_instance47 { left: 65px; top: 193px; min-width: 840px; width: 840px; min-height: 950px; height: 950px; display: block; z-index: 87; }
#wb_element_instance48 { left: 363px; top: 97px; min-width: 450px; width: 450px; min-height: 80px; height: 80px; display: block; z-index: 90; }
#wb_element_instance49 { left: 0px; top: 1163px; display: block; z-index: 9000; }
#wb_element_instance50 { left: 0px; top: 20px; display: block; z-index: 9999; }

@media (min-width: 768px) {
	#wb_header { height: 1px; }
	#wb_main { height: 1193px; }
	#wb_footer { height: 1px; }
	body, .wb_sbg { min-width: 992px; min-height: 1195px; }
	.root { width: 992px; height: 1195px; overflow: visible; }
	#wb_element_instance45 { left: 0px; top: 0px; min-width: 990px; width: 990px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance46 { left: 366px; top: 98px; min-width: 440px; width: 440px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance47 { left: 65px; top: 193px; min-width: 840px; width: 840px; min-height: 950px; height: 950px; display: block; }
	#wb_element_instance48 { left: 363px; top: 97px; min-width: 450px; width: 450px; min-height: 80px; height: 80px; display: block; }
}

@media (min-width: 992px) {
	#wb_header { height: 1px; }
	#wb_main { height: 1193px; }
	#wb_footer { height: 1px; }
	body, .wb_sbg { min-width: 992px; min-height: 1195px; }
	.root { width: 992px; height: 1195px; overflow: visible; }
	#wb_element_instance45 { left: 0px; top: 0px; min-width: 990px; width: 990px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance46 { left: 366px; top: 98px; min-width: 440px; width: 440px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance47 { left: 65px; top: 193px; min-width: 840px; width: 840px; min-height: 950px; height: 950px; display: block; }
	#wb_element_instance48 { left: 363px; top: 97px; min-width: 450px; width: 450px; min-height: 80px; height: 80px; display: block; }
}

@media (min-width: 1200px) {
	#wb_header { height: 1px; }
	#wb_main { height: 1193px; }
	#wb_footer { height: 1px; }
	body, .wb_sbg { min-width: 992px; min-height: 1195px; }
	.root { width: 992px; height: 1195px; overflow: visible; }
	#wb_element_instance45 { left: 0px; top: 0px; min-width: 990px; width: 990px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance46 { left: 366px; top: 98px; min-width: 440px; width: 440px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance47 { left: 65px; top: 193px; min-width: 840px; width: 840px; min-height: 950px; height: 950px; display: block; }
	#wb_element_instance48 { left: 363px; top: 97px; min-width: 450px; width: 450px; min-height: 80px; height: 80px; display: block; }
}
